<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            table {
                width: 100%;
                box-sizing: border-box;
            }
            td {
                width: 10px;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            #login {
                padding: 0 0 0 20%;
                border: 1px solid;
            }
        </style>
    </head>
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td id="login">4</td>
            </tr>
            <tr>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
            </tr>
        </table>
        <h1 style="width: 3 vw;"
</html>